In [4]:
#Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import numpy as np
from pathlib import Path
from collections import Counter
import time

In [6]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
import statsmodels.api as sm

In [2]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/Final_Project_db"
engine = create_engine(db_string)

In [8]:
nba_players_df = pd.read_sql('SELECT * FROM "nba_players_college_index"', con=engine)
nba_players_df

,player,season,age,tm,ws,games,gs,mp,mppg,fg,...,l,w_l_pct,srs,sos,ap,creg,ctrn,ncaa,ff,nc
0,LeBron James,2008-09,24,CLE,20.3,81,81,3054,37.704,789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LeBron James,2012-13,28,MIA,19.3,76,76,2877,37.855,765,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kevin Durant,2013-14,25,OKC,19.2,81,81,3122,38.543,849,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
3,Kevin Durant,2012-13,24,OKC,18.9,81,81,3119,38.506,731,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
4,LeBron James,2009-10,25,CLE,18.5,76,76,2966,39.026,768,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8097,Kevin Knox,2018-19,19,NYK,-1.3,75,57,2158,28.773,338,...,717.0,0.764,17.50,6.69,53.0,56.0,33.0,59.0,17.0,8.0
8098,Michael Beasley,2012-13,24,PHO,-1.5,75,20,1554,20.720,310,...,1179.0,0.586,10.14,6.23,16.0,19.0,2.0,31.0,4.0,0.0
8099,Adam Morrison,2006-07,22,CHA,-1.5,78,23,2326,29.821,355,...,702.0,0.656,3.57,-0.11,13.0,25.0,18.0,22.0,1.0,0.0
8100,Josh Jackson,2018-19,21,PHO,-1.7,79,29,1988,25.165,347,...,863.0,0.728,15.72,7.09,45.0,62.0,15.0,48.0,15.0,3.0
8101,Emmanuel Mudiay,2015-16,19,DEN,-2.1,68,66,2068,30.412,329,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Create outcome column 
nba_players_df.loc[nba_players_df['mppg'] >= 24, 'MPPG_Status'] = 'Successful'
nba_players_df.loc[nba_players_df['mppg'] < 24, 'MPPG_Status'] = 'Not Successful'

In [18]:
# Drop columns
nba_players_df = nba_players_df.drop(columns=['player', 'season', 'tm', 'college', 'country', 'MPPG_Status'])
nba_players_df

,age,ws,games,gs,mp,mppg,fg,fga,twop,twopa,...,l,w_l_pct,srs,sos,ap,creg,ctrn,ncaa,ff,nc
0,24,20.3,81,81,3054,37.704,789,1613,657,1229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,28,19.3,76,76,2877,37.855,765,1354,662,1100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,25,19.2,81,81,3122,38.543,849,1688,657,1197,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
3,24,18.9,81,81,3119,38.506,731,1433,592,1099,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
4,25,18.5,76,76,2966,39.026,768,1528,639,1141,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8097,19,-1.3,75,57,2158,28.773,338,914,213,550,...,717.0,0.764,17.50,6.69,53.0,56.0,33.0,59.0,17.0,8.0
8098,24,-1.5,75,20,1554,20.720,310,766,265,622,...,1179.0,0.586,10.14,6.23,16.0,19.0,2.0,31.0,4.0,0.0
8099,22,-1.5,78,23,2326,29.821,355,944,268,686,...,702.0,0.656,3.57,-0.11,13.0,25.0,18.0,22.0,1.0,0.0
8100,21,-1.7,79,29,1988,25.165,347,841,274,616,...,863.0,0.728,15.72,7.09,45.0,62.0,15.0,48.0,15.0,3.0
8101,19,-2.1,68,66,2068,30.412,329,905,255,673,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# Replace Undrafted with 0
nba_players_df = nba_players_df.replace(['Undrafted'], 0)

In [12]:
nba_players_df.draft_number.unique()

array(['1', '2', '5', '4', '7', '9', '3', '13', '15', '27', '30', '6',
       '14', '35', '60', '10', '24', '41', '48', '25', '57', '43', '19',
       '45', '33', '34', 0, '26', '47', '16', '18', '21', '32', '12',
       '28', '23', '37', '17', '40', '11', '29', '8', '20', '55', '22',
       '39', '46', '31', '38', '51', '56', '44', '36', '54', '52', '42',
       '49', '53', '50', '58', '59', '82', '78'], dtype=object)

In [13]:
# Convert draft year dtype
nba_players_df['draft_year'] = pd.to_datetime(nba_players_df['draft_year']).dt.year

In [14]:
# Convert draft_round and draft_numbers to int
nba_players_df['draft_round'] = nba_players_df['draft_round'].astype(str).astype(int)
nba_players_df['draft_number'] = nba_players_df['draft_number'].astype(str).astype(int)

In [19]:
# Replace null values with 0
nba_players_df = nba_players_df.fillna(0)

In [20]:
nba_players_df

,age,ws,games,gs,mp,mppg,fg,fga,twop,twopa,...,l,w_l_pct,srs,sos,ap,creg,ctrn,ncaa,ff,nc
0,24,20.3,81,81,3054,37.704,789,1613,657,1229,...,0.0,0.000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
1,28,19.3,76,76,2877,37.855,765,1354,662,1100,...,0.0,0.000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
2,25,19.2,81,81,3122,38.543,849,1688,657,1197,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
3,24,18.9,81,81,3119,38.506,731,1433,592,1099,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
4,25,18.5,76,76,2966,39.026,768,1528,639,1141,...,0.0,0.000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8097,19,-1.3,75,57,2158,28.773,338,914,213,550,...,717.0,0.764,17.50,6.69,53.0,56.0,33.0,59.0,17.0,8.0
8098,24,-1.5,75,20,1554,20.720,310,766,265,622,...,1179.0,0.586,10.14,6.23,16.0,19.0,2.0,31.0,4.0,0.0
8099,22,-1.5,78,23,2326,29.821,355,944,268,686,...,702.0,0.656,3.57,-0.11,13.0,25.0,18.0,22.0,1.0,0.0
8100,21,-1.7,79,29,1988,25.165,347,841,274,616,...,863.0,0.728,15.72,7.09,45.0,62.0,15.0,48.0,15.0,3.0
8101,19,-2.1,68,66,2068,30.412,329,905,255,673,...,0.0,0.000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
nba_players_df.dtypes

age                   int64
ws                  float64
games                 int64
gs                    int64
mp                    int64
mppg                float64
fg                    int64
fga                   int64
twop                  int64
twopa                 int64
threep                int64
threepa               int64
ft                    int64
fta                   int64
orb                   int64
drb                   int64
trb                   int64
ast                   int64
stl                   int64
blk                   int64
tov                   int64
pf                    int64
pts                   int64
fgpct               float64
twoppct             float64
threeppct           float64
efgpct              float64
ftpct               float64
tspct               float64
player_height_cm    float64
player_weight_kg    float64
draft_year            int64
draft_round           int64
draft_number          int64
ptsavg              float64
rebavg              float64
astavg              float64
net_rating          float64
oreb_pct            float64
dreb_pct            float64
usg_pct             float64
ts_pct              float64
ast_pct             float64
from_               float64
to_                 float64
yrs                 float64
school_games        float64
w                   float64
l                   float64
w_l_pct             float64
srs                 float64
sos                 float64
ap                  float64
creg                float64
ctrn                float64
ncaa                float64
ff                  float64
nc                  float64
dtype: object

In [22]:
# check for null values
nba_players_df.isnull().sum()

age                 0
ws                  0
games               0
gs                  0
mp                  0
mppg                0
fg                  0
fga                 0
twop                0
twopa               0
threep              0
threepa             0
ft                  0
fta                 0
orb                 0
drb                 0
trb                 0
ast                 0
stl                 0
blk                 0
tov                 0
pf                  0
pts                 0
fgpct               0
twoppct             0
threeppct           0
efgpct              0
ftpct               0
tspct               0
player_height_cm    0
player_weight_kg    0
draft_year          0
draft_round         0
draft_number        0
ptsavg              0
rebavg              0
astavg              0
net_rating          0
oreb_pct            0
dreb_pct            0
usg_pct             0
ts_pct              0
ast_pct             0
from_               0
to_                 0
yrs                 0
school_games        0
w                   0
l                   0
w_l_pct             0
srs                 0
sos                 0
ap                  0
creg                0
ctrn                0
ncaa                0
ff                  0
nc                  0
dtype: int64

### Feature selection with linear regression

In [23]:
# Define features set
X = nba_players_df.copy()
X = X.drop("mppg", axis=1)
X.head()

,age,ws,games,gs,mp,fg,fga,twop,twopa,threep,...,l,w_l_pct,srs,sos,ap,creg,ctrn,ncaa,ff,nc
0,24,20.3,81,81,3054,789,1613,657,1229,132,...,0.0,0.000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
1,28,19.3,76,76,2877,765,1354,662,1100,103,...,0.0,0.000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0
2,25,19.2,81,81,3122,849,1688,657,1197,192,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
3,24,18.9,81,81,3119,731,1433,592,1099,139,...,1099.0,0.623,6.48,3.73,11.0,25.0,2.0,34.0,3.0,0.0
4,25,18.5,76,76,2966,768,1528,639,1141,129,...,0.0,0.000,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Create our target
y = nba_players_df['mppg']

In [25]:
model = sm.OLS(y, X)
results = model.fit()

In [26]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                   mppg   R-squared (uncentered):                   0.997
Model:                            OLS   Adj. R-squared (uncentered):              0.997
Method:                 Least Squares   F-statistic:                          5.388e+04
Date:                Wed, 13 Jan 2021   Prob (F-statistic):                        0.00
Time:                        13:18:09   Log-Likelihood:                         -12849.
No. Observations:                8102   AIC:                                  2.581e+04
Df Residuals:                    8048   BIC:                                  2.618e+04
Df Model:                          54
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
age                  0.0223      0.003      6.724      0.000       0.016       0.029
ws                   0.1294      0.020      6.424      0.000       0.090       0.169
games               -0.0458      0.002    -27.390      0.000      -0.049      -0.043
gs                  -0.0041      0.001     -3.922      0.000      -0.006      -0.002
mp                   0.0123   9.82e-05    125.001      0.000       0.012       0.012
fg                  -0.0037      0.000    -11.059      0.000      -0.004      -0.003
fga                  0.0030      0.000      6.983      0.000       0.002       0.004
twop                -0.0021      0.001     -1.881      0.060      -0.004    8.84e-05
twopa                0.0027      0.000      5.945      0.000       0.002       0.004
threep              -0.0016      0.001     -1.487      0.137      -0.004       0.001
threepa              0.0004      0.001      0.527      0.598      -0.001       0.002
ft                  -0.0052      0.001     -4.891      0.000      -0.007      -0.003
fta                  0.0045      0.001      5.066      0.000       0.003       0.006
orb                 -1.0164      0.840     -1.210      0.226      -2.663       0.630
drb                 -1.0179      0.840     -1.212      0.226      -2.664       0.629
trb                  0.9965      0.840      1.186      0.235      -0.650       2.643
ast                 -0.0225      0.001    -35.432      0.000      -0.024      -0.021
stl                 -0.0023      0.001     -2.412      0.016      -0.004      -0.000
blk                 -0.0013      0.001     -1.814      0.070      -0.003       0.000
tov                  0.0084      0.001      7.991      0.000       0.006       0.010
pf                   0.0024      0.001      4.531      0.000       0.001       0.004
pts                 -0.0141      0.001    -22.241      0.000      -0.015      -0.013
fgpct               -1.1569      0.766     -1.510      0.131      -2.659       0.345
twoppct              0.5485      0.270      2.031      0.042       0.019       1.078
threeppct            0.3953      0.119      3.315      0.001       0.162       0.629
efgpct               2.8257      0.804      3.513      0.000       1.249       4.402
ftpct                1.2416      0.103     12.015      0.000       1.039       1.444
tspct                4.9188      0.745      6.604      0.000       3.459       6.379
player_height_cm    -0.0091      0.003     -2.915      0.004      -0.015      -0.003
player_weight_kg    -0.0018      0.002     -0.847      0.397      -0.006       0.002
draft_year           0.0045      0.000     15.924      0.000       0.004       0.005
draft_round         -0.0667      0.045     -1.495      0.135      -0.154       0.021
draft_number        -0.0008      0.002     -0.449      0.654      -0.004       0.003
ptsavg               0.9551      0.016     58.591      0.000       0.923       0.987
rebavg               1.7471      0.030     58.303      0.000       1.688       1.806
astavg               1.7446      0.047     37.371      0.000       1.653       1.836
net_rating          -0.0060      0.001     -4.752      0.000      -0.008      -0.003
oreb_pct            -8.3715      0.542    -15.459      0.000      -9.433      -7.310
dreb_pct            -8.5955      0.370    -23.253      0.000      -9.320      -7.871
usg_pct            -12.0595      0.454    -26.544      0.000     -12.950     -11.169
ts_pct              -9.0692      0.432    -21.013      0.000      -9.915      -8.223
ast_pct             -6.0098      0.359    -16.728      0.000      -6.714      -5.306
from_               -0.0009      0.003     -0.339      0.735      -0.006       0.004
to_                  0.0015      0.003      0.529      0.597      -0.004       0.007
yrs                  0.0020      0.004      0.457      0.647      -0.007       0.011
school_games        -0.0580      0.039     -1.496      0.135      -0.134       0.018
w                    0.0580      0.039      1.496      0.135      -0.018       0.134
l                    0.0575      0.039      1.485      0.137      -0.018       0.133
w_l_pct             -1.7927      1.259     -1.424      0.155      -4.261       0.676
srs                  0.0225      0.019      1.187      0.235      -0.015       0.060
sos                  0.0135      0.022      0.604      0.546      -0.030       0.057
ap                  -0.0068      0.005     -1.280      0.201      -0.017       0.004
creg                 0.0005      0.002      0.234      0.815      -0.004       0.005
ctrn                 0.0079      0.003      2.314      0.021       0.001       0.015
ncaa                -0.0002      0.004     -0.040      0.968      -0.009       0.008
ff                  -0.0082      0.010     -0.806      0.420      -0.028       0.012
nc                  -0.0016      0.014     -0.114      0.909      -0.029       0.025
==============================================================================
Omnibus:                     3695.489   Durbin-Watson:                   1.907
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           339119.920
Skew:                           1.263   Prob(JB):                         0.00
Kurtosis:                      34.594   Cond. No.                     1.07e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.43e-21. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""