In [13]:
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier

In [14]:
# Load the data
file_path = Path("Resources/Stats_Ht_Season_2003-2019.csv")
df_nba_stats = pd.read_csv(file_path)
df_nba_stats.head()

,Rk,Player,Ht,Season,Age,Tm,Lg,WS,G,GS,...,BLK,TOV,PF,PTS,FG%,2P%,3P%,eFG%,FT%,TS%
0,1,LeBron James,9-Jun,2008-09,24,CLE,NBA,20.3,81,81,...,93,241,139,2304,0.489,0.535,0.344,0.530,0.780,0.591
1,2,LeBron James,9-Jun,2012-13,28,MIA,NBA,19.3,76,76,...,67,226,110,2036,0.565,0.602,0.406,0.603,0.753,0.640
2,3,Kevin Durant,10-Jun,2013-14,25,OKC,NBA,19.2,81,81,...,59,285,174,2593,0.503,0.549,0.391,0.560,0.873,0.635
3,4,Kevin Durant,10-Jun,2012-13,24,OKC,NBA,18.9,81,81,...,105,280,143,2280,0.510,0.539,0.416,0.559,0.905,0.647
4,5,LeBron James,9-Jun,2009-10,25,CLE,NBA,18.5,76,76,...,77,261,119,2258,0.503,0.560,0.333,0.545,0.767,0.604

In [15]:
list(df_nba_stats.columns)

['Rk',
 'Player',
 'Ht',
 'Season',
 'Age',
 'Tm',
 'Lg',
 'WS',
 'G',
 'GS',
 'MP',
 'MPPG',
 'FG',
 'FGA',
 '2P',
 '2PA',
 '3P',
 '3PA',
 'FT',
 'FTA',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'FG%',
 '2P%',
 '3P%',
 'eFG%',
 'FT%',
 'TS%']

In [16]:
# Define features set
X = df_nba_stats.copy()
X = X.drop("MPPG", axis=1)
X.head()

,Rk,Player,Ht,Season,Age,Tm,Lg,WS,G,GS,...,BLK,TOV,PF,PTS,FG%,2P%,3P%,eFG%,FT%,TS%
0,1,LeBron James,9-Jun,2008-09,24,CLE,NBA,20.3,81,81,...,93,241,139,2304,0.489,0.535,0.344,0.530,0.780,0.591
1,2,LeBron James,9-Jun,2012-13,28,MIA,NBA,19.3,76,76,...,67,226,110,2036,0.565,0.602,0.406,0.603,0.753,0.640
2,3,Kevin Durant,10-Jun,2013-14,25,OKC,NBA,19.2,81,81,...,59,285,174,2593,0.503,0.549,0.391,0.560,0.873,0.635
3,4,Kevin Durant,10-Jun,2012-13,24,OKC,NBA,18.9,81,81,...,105,280,143,2280,0.510,0.539,0.416,0.559,0.905,0.647
4,5,LeBron James,9-Jun,2009-10,25,CLE,NBA,18.5,76,76,...,77,261,119,2258,0.503,0.560,0.333,0.545,0.767,0.604

In [17]:
# Define the target set.
y = df_nba_stats["MPPG"].ravel()
y

array([37.704, 37.855, 38.543, ..., 29.821, 25.165, 30.412])

In [18]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [ ]:
# Fitting the model
rf_model = rf_model.fit(X, y)